@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#F2F2F2;
}
*{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
    /* font-family: 'Roboto', serif !important; */
    scroll-behavior: smooth;
}

header{
    background-color:black;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 87%,0 100%);
}
 
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav .left a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all.3s ease;
}
header nav .left a:hover{
    color: #3DCFD3;
}
header nav{
    padding: 2rem 0;
}
header nav .logo{
    margin-right: 3rem;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}
.btn-prime{
    background: #3DCFD3;
    color: var(--dark);
    text-transform: uppercase;
}
.btn-prime:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.hero{
    padding: 3rem 0;
}
.hero .left img{
    width: 300px;
}
.hero .right{
    color:white ;
}
.hero .right h6{
    font-size: 1.6rem;
    color: #3DCFD3;
    margin-bottom: 1rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color:var(--primary);
}
.hero .right p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -7rem;
}
.btn-second{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-second:hover{
    background: var(--primary);
    border-color: var(--dark);
    color:white;
}
section{
    padding: 6rem 0;
}
section.about .about-img {
    height:400px;
}
section.about h1{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
section.about h1 span{
    color: var(--primary);
}
section.about h2{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
section.about p{
    color: var(--ternary);
    line-height: 1.9;
}
section.about .links{
    display: flex;
}
section.about .links a{
    
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    
    margin-right: 0.5rem;
    transition: all .3s ease;
}
section.about .links a img:hover{
    background: var(--primary);

}
section.about .links a img{
    width: 30px;
    height: 30px;
    padding: .2rem;
    border-radius:80%;
}
section.left .about-img{
    justify-content: center;
}
li {
    list-style-type: none;
}
section.work{
    background: var(--light);
}


section.work .work-head{
    text-align: center;
    margin-bottom: 6rem;
    color:var(--dark);
    line-height: 0.5;
    font-weight: 500;
    font-size: 2rem;
}
section.work .space{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:2rem;
}
section.work .space .card{
    
    padding: 3rem 2rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
}
section.work .space .card img{
    background: var(--primary);
    position: absolute;
    height: 20%;
    top: -2.5rem;
    left: 50%;
    transform: translatex(-50%);
}
section.work .space .card h2{
        font-weight: 400;
    margin-bottom: 0.5rem;
}
section.work .space .card p{
    color: var(--ternary);
    line-height: 1.6rem;
}
section.work .space .card:hover{
    background: #161616;
    color: white;
    
}
section.freelancer{
    text-align: center;
    background:linear-gradient(rgba(0.2,0.2,0.2,0.8),rgba(0,0,0.2,0.8)),url(../images/camera.png);
    color: white;
    clip-path: polygon(0 0,100% 0,100% 100%,67% 80%,0 100%);
    padding-bottom: 13rem;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom:0.5rem ;
    font-weight: 100;
}
section.freelancer p{
    margin-bottom: 0.5rem;
    font-weight: 400;
}